
.card {
  margin: 0 1rem 1rem 1rem;
  padding: .5em 1.5em;
  border-radius: .5em;
  background-color: #fff;
}

.card:hover {
  box-shadow: .2em .2em .75em rgba(0, 0, 0, 0.2);
}

.card-pic_-text--vertical {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    align-items: stretch;
    justify-content: flex-start;
}

.card-pic_-text--horizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
