.card {
    width: 250px;
}
.card h2 {
    /* font-size: 1.5em; */
}

.card-img {
    width: 250px;
    height: 250px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    transition: opacity 1.5s ease-in-out 0s;
}
