.card {
    width: 250px;
}

.card-img {
    width: 250px;
    height: 250px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    transition: opacity 5s ease-in-out 0s;
}
