/* shopping-car.module.css */

.shoppingCar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9;
}

.shoppingCar div {
  align-items: center;
}

.shoppingCar .icon {
  margin-right: 0.5rem;
  color: var(--nextui-colors-primary);
  font-weight: 700;
  font-size: 2rem;
}

.itemList {
  border: 1px solid var(--nextui-colors-primary);
  border-radius: 0.5em;
  max-height: 200px;
  overflow-y: auto;
  /* visibility: hidden; */
  display: none;
  position: absolute;
  top: 60px;
  background-color: #fff;
  padding: 0.5em 1em;
}

.itemList li {
  border-bottom: 1px solid #ccc;
  line-height: 2.5;
  margin-bottom: 0;
}

.itemListActive {
  display: block;
}
