.main {
  width: calc(1000px + 20em );
  max-width: calc(100% - 2em);
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-logo {
  width: 100px;
  /* opacity: 0; */
  transition: opacity 1.5s ease-in-out 0s;
}

.header h1 {
  /* font-family: "Newbee Black"; */
  font-size: 3.7rem;
  font-weight: 900;
  line-height: 1.35;
  letter-spacing: .33em;
  text-indent: .2em;
  /* opacity: 1; */
  transition: opacity 1.5s ease-in-out 0s;
}

.header h1.newbee-black--font-style {
    /* opacity: 1; */
    font-family: "Newbee Black";
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    text-indent: 0px;
    letter-spacing: 0px;
}
