body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 95%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Newbee Black';
  /* font-display: fallback; */
  font-display: block;
  /* font-display: swap; */
  src: url(./assets//fonts//站酷高端黑\ Regular-subset/EvMNoAZycDnV.woff.bak) format('woff'), 
  url(./assets/fonts//站酷高端黑\ Regular-subset/EvMNoAZycDnV.woff2.bak) format('woff2');
}
